*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{
font-family:Arial, sans-serif;
background:#f4f4f4;
text-align:center;
padding-top:50px;
}


h1{
margin-bottom:30px;
}


.container{
display:flex;
justify-content:center;
gap:20px;
}


.box{
width:150px;
height:150px;
background:#3498db;
color:white;
display:flex;
justify-content:center;
align-items:center;
border-radius:10px;
cursor:pointer;
transition:0.3s;
}


.box:hover{
background:#2c3e50;
transform:scale(1.1);
}