body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #c9bcc5, #f871bb);
    font-family: 'Segoe UI', sans-serif;
}

.container {
    background-color: white;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    width: 350px;
}

.container h1 {
    margin-bottom: 15px;
}

.container p {
    font-size: 16px;
    color: #555;
}

button {
    margin-top: 20px;
    padding: 10px 25px;
    border: none;
    background-color: #afeb0b;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #764ba2;
}
