body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f3f3f3;
}

header {
    background: #795548;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

section {
    background: white;
    margin: 20px;
    padding: 25px;
    border-radius: 10px;
}

h2 {
    color: #795548;
}

.item {
    background: #eee;
    padding: 15px;
    margin-top: 10px;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 15px;
    background: #795548;
    color: white;
    margin-top: 20px;
}
