/* .ag{
  display:block;
}

.ag1{
  display:inline;
}

 .container{
  height:auto;
  width:auto;
  text-align: center;
  padding:20px;
  border: 3px solid;
  

}
.box{
  align-items: center;
  display: inline-block  ;
  width: 150px;
  height: 300px;
}

.box1{
 background-color:yellow
}

.box2{
 background-color:rgb(212, 22, 63)
}

.box3{
 background-color:rgb(26, 226, 69)
} */

/* .container{
  display:flex;
  height: 600px;
  width: 1000px;
  background-color:aqua;
  border: 2px solid black;
  flex-direction: row;
  flex-direction: column-reverse; */
   /* flex-wrap: wrap; it is no wrap 
   flex-flow: wrap-reverse;
  justify-content:flex-end;
  justify-content: center;   
  align-items: center;
   align-content: center; mutiple rows
  gap: 10px; */
/* } */
/* .item{
  height: 100px;
  width: 200px;   
  background-color: darkkhaki;
  border: 2px solid black;
  text-align:center;
  align-content: center; */ 
  
/* } */
/* .item2{
  order: -1;
  flex-grow: 2;
   flex-shrink: 4; not */
   /* align-self: flex-end ;
} */

.container{
  display: grid;

  height: 500px;
  width: 1000px;
  background-color: aqua;
  border: 4px solid black;
  grid-template-columns: 1fr 1fr 1fr 1f;
  /* grid-template-columns: repeat(4,1fr);*/
  grid-template-rows: repeat(3,1fr);
  /* grid-template-areas: "header header header header" 
  "main main .sidebar"
  " footer footer footer footer " */ 
  column-gap: 10px;
  justify-items:center;
  /* align-items: center; */
  justify-content: center;
  /* justify-content: space-around;*/
  align-content: center;
  grid-auto-columns: 60px;
  
} 

.item{
  height: 100px;
  width: 100px;
  background-color: rgb(255, 0, 98);
  border: 2px solid black;
  text-align: center; 
  align-items: center;
  color: white;
}

 .item1{
  grid-area: header;
  grid-column: 1;
  grid-row: 1/1;
  grid-auto-flow: column;
  grid-column-start: 2;
  grid-column-start: 3;
  
}

 .item2{
  grid-area: main;
  justify-self: end;
  /* justify-self: center; */

} 

/* .item3{
  grid-area: sidebar;
}

.item4{
  grid-area: footer;
} */ */ */