/* .ag{
  display:block;
}

.ag1{
  display:inline;
}

 .container{
  height:auto;
  width:auto;
  text-align: center;
  padding:20px;
  border: 3px solid;
  

}
.box{
  align-items: center;
  display: inline-block  ;
  width: 150px;
  height: 300px;
}

.box1{
 background-color:yellow
}

.box2{
 background-color:rgb(212, 22, 63)
}

.box3{
 background-color:rgb(26, 226, 69)
} */

.container{
  display:flex;
  height: 600px;
  width: 1000px;
  background-color:aqua;
  border: 2px solid black;
  flex-direction: row;
  /* flex-direction: column-reverse; */
  /* flex-wrap: wrap; it is no wrap */
  /* flex-flow: wrap-reverse; */
  /* justify-content:flex-end; */
  justify-content: center;   
  align-items: center;
  /* align-content: center; mutiple rows */
  gap: 10px;
}
.item{
  height: 100px;
  width: 200px;   
  background-color: darkkhaki;
  border: 2px solid black;
  text-align:center;
  align-content: center;
  
}
.item2{
  order: -1;
  flex-grow: 2;
  /* flex-shrink: 4; not */
  /* align-self: flex-end ; */
  
}