/* Reset Settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Header */
header {
    width: 100%;
    padding: 15px 40px;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 12px rgba(0,0,0,0.1);
}

.logo {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: left;
}

nav a {
    margin-left: 25px;
    text-decoration: none;
    color: #444;
    font-weight: bold;
}

nav a:hover {
    color: #a67c00;
    font-weight: bold;

}

/* Hero Section */
.hero {
    height: 80vh;
    background: url("https://images.unsplash.com/photo-1599643477877-530eb83abc4e") center/cover no-repeat;
    display: flex;
    align-items: center;
    padding-left: 60px;
    color: #fff;
    text-shadow: 2px 2px 10px black;
}

.hero h1 {
    font-size: 50px;
}

.hero p {
    font-size: 20px;
    margin: 10px 0 20px;
}

.hero button {
    padding: 12px 30px;
    background: #a67c00;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.hero button:hover {
    background: #8a6400;
}

/* Product Section */
.products {
    text-align: left;
    padding: 50px 20px;
}

.products h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.product-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.product {
    width: 260px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.1);
    transition: 0.3s;
    
}

.product:hover {
    transform: translateY(-8px);
}

.product img {
    width: 100%;
    border-radius: 8px;
}

.product button {
    margin-top: 12px;
    padding: 10px;
    width: 100%;
    border: none;
    background: #a67c00;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.product button:hover {
    background: #8a6400;
}

/* Footer */
footer {
    text-align: center;
    background: #f2f2f2;
    padding: 15px;
    margin-top: 40px;
}
